/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'twitter/bootstrap';

.fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.table-tbody-striped {
  tbody:nth-child(odd) > tr > td {
    background-color: #f9f9f9;
  }
}

.table-bordered {
  tbody {
    tr {
      td.noborder {
        border: 0px;
        border-left: 1px solid #ddd;
      }
    }
  }
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}
